* {
  box-sizing: border-box;
  margin: 0;
}

Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 8vh;
}

a, a:hover {
  text-decoration: none;
  border: none;
  color: black;
}

.logo {
  border-radius: 100%;
  padding-left: 5px;
}

.cart {
  padding-right: 25px;
  font-size: x-large;
}

.cartBtn {
  font-size: x-large;
}

.drinksLinks, .snowsLinks {
  display: flex;
  justify-content: space-evenly;
}

.drinksUndeline, .snowsUndeline {
  text-decoration: underline;
}

main {
  min-height: 68vh;
  
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}

.product {
  margin: 5px;
  text-align: center;
}

.productImg {
  height: 18rem;
}

.cartMain {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
}

.cartProduct {
  padding: 8px;
}

.emptyCart {
  padding: 10px;
}

.footer {
  text-align: center;
}