* {
  box-sizing: border-box;
  margin: 0;
}

Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 8vh;
}

a, a:hover {
  text-decoration: none;
  border: none;
  color: black;
}

.logo {
  border-radius: 100%;
  padding-left: 5px;
}

.cart {
  padding-right: 25px;
  font-size: x-large;
}

.cartBtn {
  font-size: x-large;
}

.drinksLinks, .snowsLinks {
  display: flex;
  justify-content: space-evenly;
}

.drinksUndeline, .snowsUndeline {
  text-decoration: underline;
}