* {
  box-sizing: border-box;
  margin: 0;
}

Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5px;
  min-height: 8vh;
}

.logo {
  border-radius: 100%;
}

